body{
	background : white;
}

#wrap{
	width 		: 960px;
	border 		: solid 1px black;
/*	height 		: 100vh;*/
	/*this is how you center a block*/
	margin 		: 0 auto;
}

#banner{
	height 		: 150px;
	background  : grey;
}
/* X path */
nav{}

nav ul{
	border 		: solid 1px black;
	list-style  : none;
	padding 	: 0px; 
}

nav ul li{
	border 		: solid 1px red;
	width 		: 20%;
	display 	: inline-block;
	text-align 	: center;
}

nav ul li:hover{
	background 	: black;
	color 		: white;
	font-weight : bold;
	cursor 		: move;
}

#mainArea{
	border 		: solid 1px black;
}

section{
	width 		: 49.5%;
	height 		: 100vh;
	background 	: grey;
	/*display 	: inline-block;*/
	float 		: left;
	margin 		: 1px;
	border-radius : 50px;
}

footer{
	font-size 	: 8pt;
	text-align  : center;
}

footer:hover{
	
}